body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
}

.container {
  flex: 1 1 100%;
  display: flex;
}

.sidebar {
    width: 200px;
    background-color: rgb(183, 233, 241);
    border-right: 1px solid rgb(42, 182, 187); 
    min-height: 100vh; 
    padding: 12px; 
}
.menuItem {
    padding: 8px 0px;
    border-bottom: 0.5px solid rgba(42, 182, 187, 0.3); 

}
.menuItem a{
    text-decoration: none;
    color: black;
    font-size: 13px;
}
.menuItem a:hover {
    color: rgb(42, 182, 187);
}

.content {
    padding: 12px;
}